*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.wav

# Project exclude paths
/app/build/intermediates/javac/debug/classes/
/app/build/intermediates/javac/debugAndroidTest/classes/
